body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'CustomFont';
  src: local('CustomFont'), url('./Lib//gill-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
