body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'GillSans';
  src: local('GillSans'), url('./Lib/Fonts/gill-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}